### Importing

In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('../data/raw_data.csv')
df.columns = ['Id', 'Fullname', 'Job_title', 'Department', 'Business_unit', 'Gender', 'Ethnicity', 'Age', 'Hiring_date', 'Annual_salary', 'Award', 'Country', 'City']

### FA-Values change to EN-Values

In [14]:
job_title_map = {
    'تحلیلگر': 'Analyst',
    'مدیر': 'Manager',
    'کارگردان': 'Director',
    'معاونت': 'Assistant',
    'مهندس فنی': 'Technical Engineer',
    'مهندس سازمانی': 'Enterprise Engineer',
    'مدیر سیستم': 'System Manager',
    'مهندس توسعه': 'Development Engineer',
    'مهندس کنترل': 'Control Engineer',
    'مهندس زیرساخت ابری': 'Cloud Infrastructure Engineer',
    'مدیر شبکه': 'Network Manager',
    'شریک تجاری': 'Business Partner',
    'مهندس آزمون': 'Test Engineer',
    'مهندس شبکه': 'Network Engineer',
    'مدیر توسعه': 'Development Manager',
    'مهندس کیفیت': 'Quality Engineer',
    'مهندس اتوماسیون': 'Automation Engineer'
}

df.Job_title = df.Job_title.map(job_title_map)

In [15]:
department_map = {
    'حسابداری': 'Accounting',
    'آی‌تی': 'IT',
    'مهندسی': 'Engineering',
    'بازاریابی': 'Marketing',
    'منابع انسانی': 'Human Resources'
}

df.Department = df.Department.map(department_map)

In [16]:
unit_map = {
    'محصولات تخصصی': 'Specialized Products',
    'شرکت‌های بزرگ': 'Large Companies',
    'تحقیق و توسعه': 'Research and Development',
    'تولید': 'Production'
}

df.Business_unit = df.Business_unit.map(unit_map)

In [17]:
df.Gender = df.Gender.map({'مرد': 'Male', 'زن': 'Female'})

In [18]:
ethnicity_map = {
    'آسیایی': 'Asian',
    'لاتین': 'Latin',
    'سیاه پوست': 'Black'
}

df.Ethnicity = df.Ethnicity.map(ethnicity_map)

In [19]:
country_map = {
    'آمریکا': 'USA',
    'چین': 'China',
    'برزیل': 'Brazil'
}

city_map = {
    'میامی': 'Miami',
    'آستین': 'Austin',
    'سیاتل': 'Seattle',
    'شیکاگو': 'Chicago',
    'فینیکس': 'Phoenix',
    'کلمبوس': 'Columbus',
    'چونگ‌کینگ': 'Chongqing',
    'چنگدو': 'Chengdu',
    'پکن': 'Beijing',
    'شانگهای': 'Shanghai',
    'ریو دو ژانیرو': 'Rio de Janeiro',
    'مانائوس': 'Manaus',
    'سائو پائولو': 'São Paulo'
}

df.Country = df.Country.map(country_map)
df.City = df.City.map(city_map)

In [20]:
df

,Id,Fullname,Job_title,Department,Business_unit,Gender,Ethnicity,Age,Hiring_date,Annual_salary,Award,Country,City
0,E02002,Kai Le,Control Engineer,Engineering,Production,Male,Asian,47,2022-02-05,92368,0.00,USA,Columbus
1,E02003,Robert Patel,Analyst,Accounting,Large Companies,Male,Asian,58,2013-10-23,45703,0.00,USA,Chicago
2,E02004,Cameron Lo,Network Manager,IT,Research and Development,Male,Asian,34,2019-03-24,83576,0.00,China,Shanghai
3,E02005,Harper Castillo,Development Manager,IT,Large Companies,Female,Latin,39,2018-04-07,98062,0.00,USA,Seattle
4,E02006,Harper Dominguez,Director,Engineering,Large Companies,Female,Latin,42,2005-06-18,175391,0.24,USA,Austin
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E02997,Melody Delgado,Network Engineer,IT,Specialized Products,Female,Latin,48,2012-11-28,71632,0.00,Brazil,Rio de Janeiro
996,E02998,Eliza Bui,Analyst,Accounting,Large Companies,Female,Asian,63,2010-06-13,45337,0.00,USA,Seattle
997,E02999,Layla Wu,Technical Engineer,Accounting,Research and Development,Female,Asian,31,2018-08-27,89573,0.00,USA,Miami
998,E03000,Thomas Lam,Control Engineer,Engineering,Production,Male,Asian,52,2022-11-18,75775,0.00,USA,Seattle
999,E03001,Willow Taylor,Technical Engineer,Accounting,Large Companies,Female,Black,27,2021-02-08,51321,0.00,USA,Seattle

### Split data and save them

In [21]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(df, test_size=0.2, random_state=41)

In [22]:
test_data.reset_index(inplace=True)
test_data.drop(columns='index')
test_data.Annual_salary.to_csv('../data/y_true.csv', index=False)
test_data.drop(columns='Annual_salary').to_csv('../data/test_dara.csv', index=False)

train_data.reset_index(inplace=True)
train_data.drop(columns='index')
train_data.to_csv('../data/train_data.csv', index=False)